.container{
	width: 50%;
	/* position: relative; */
	/* height: 90%; */
	margin: auto;
	text-align:center;
}
ul{
	list-style: none;
}
ul li{
	background-color: lightsalmon;
	font-size: 1.5rem;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	text-align: left;
}

/* Buttons */
.create{
	/* display: inline; */
	/* position: absolute; */
	width: 50px;
	height: 50px;
	margin-right: 0;
	text-align: center;
	background-color: grey;
}

.action{
	display: flex;
	flex-direction: row;
	padding: 5px;
}
.action-button{
	margin: 10px;

}

.selectedItemContainer{
	width:100%;
	text-align: center;
	margin: auto;
	background-co

}