.container{
	width: 50%;
	/* position: relative; */
	/* height: 90%; */
	margin: auto;
	text-align:center;
}
ul{
	list-style: none;
}
ul li{
	background-color: lightsalmon;
	font-size: 1.5rem;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	text-align: left;
}

/* Buttons */

.buttonContainer{
	display: flex;
	flex-direction: row;
	/* text-align: center; */
	/* margin: auto; */
	/* padding: 5px; */
}
.action-button{
	/* margin: 10px; */
	/* display: inline-block; */
	/* height: 50px; */
	margin: 0.5rem;
	padding: 0.5rem;
	/* text-align: center; */

}

.selectedItemContainer{
	width:100%;
	text-align: center;
	margin: auto;
	/* background-co */
}
.selected{
	border: 2px red solid;
}